asgiref==3.7.2
certifi==2023.7.22
chardet==3.0.4
dj-database-url==0.4.2
Django==4.2.11
djangorestframework==3.14.0
idna==3.7
python-decouple==3.1
pytz==2017.3
requests==2.31.0
urllib3==1.26.18
whitenoise==5.2.0
waitress
psycopg2-binary
django-cors-headers==4.2.0
drf-yasg==1.17.1