/* _icons.scss -> .icon basic style */
:root {
    --icon-xs: 16px;
    --icon-sm: 24px;
    --icon-md: 32px;
    --icon-lg: 48px;
    --icon-xl: 64px;
}

.icon {
  display: inline-block;
  color: var(--color-icon-primary);
    height: 1em;
    width: 1em;
  line-height: 1;
}

/* icon size */
.icon--xs {
    font-size: var(--icon-xs);
}

.icon--sm {
    font-size: var(--icon-sm);
}

.icon--md {
    font-size: var(--icon-md);
}

.icon--lg {
    font-size: var(--icon-lg);
}

.icon--xl {
  font-size: var(--icon-xl);
}

/* align icon and text  */
.icon-text-aligner {
    /* add this class to parent element that contains icon + text elements */
    display: flex;
  align-items: center;

  > *:nth-child(2) {
    margin-left: 4px;
  }

  .icon {
    color: inherit;
    flex-shrink: 0;
  }
}
