@import '_mixins.scss';
@import '_typography.scss';
@import '_layout.scss';
@import '_colors.scss';
@import '_spacing.scss';
@import '_icons.scss';
@import '_buttons.scss';

body,
html {
    margin: 0
}

div:first-of-type {
    padding-top: 0;
}

.wrapper {
}

.header {
    -webkit-box-shadow: 0 1px 2px var(--gray-2);
    background-color: var(--white);
    box-shadow: 0 1px 2px var(--gray-2);
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 3em;
    z-index: 88;

    .backButton + .title {
        padding-left: 0;
    }

    .title {
        font-weight: bold;
        padding-left: 1.2em;

        .subtitle {
            font-weight: lighter;
        }
    }
}

.container {
    position: relative;
    overflow: hidden;
    margin-top: 0;
}

.content {
    padding-top: 3em;
    height: calc(100vh - 3em);
    overflow: auto;
}

.account {

    form {
        position: relative;
        display: inline-block;
    }

    button,
    input {
        display: block;
    }

    label {
        display: block;
        position: relative;
    }

    input {
        appearance: none;
        -webkit-appearance: none;
        border: 0;
        padding: 8px 10px 8px 20px;
        border-radius: 5px;
        font-size: 1em;
        width: 100%;
        border: 1px solid var(--black);
        &:focus {
            outline: 0;

            + span {
               -webkit-transform: translateY(-8px) scale(0.7);
               transform: translateY(-8px) scale(0.7);
           }
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    .icon{
        position: absolute;
        top: 50%;
        left: 5px;
        margin-top: -10px;
    }

    span {
        position: absolute;
        left: 50px;
        top: 15px;
        pointer-events: none;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        transition: -webkit-transform 0.25s ease-out;
        transition: transform 0.25s ease-out;
        transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    }

    /*.js-input-filled + span {
        -webkit-transform: translateY(-8px) scale(0.7);
        transform: translateY(-8px) scale(0.7);
    }*/
}

/*
* — Utility classes —
*/

#canvas {
    width: 280px;
    height: 250px;
    padding: 15px 0;
}
