.wrapper {
  text-align: center;
  margin-top: 200px;
}

button[type="submit"] {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 4px 10px;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0;
  color: white;
  vertical-align: middle;
  background-color: #0076ff;
  border: 0 solid currentColor;
  border-radius: 3px;
  transition: none;
}
/*
* — Utility classes —
*/

#canvas {
    width: 280px;
    height: 250px;
    padding: 15px 0;
}
