@import '_mixins.scss';
@import '_typography.scss';
@import '_layout.scss';
@import '_colors.scss';
@import '_spacing.scss';
@import '_icons.scss';
@import '_buttons.scss';

/*
* — Utility classes —
*/

#canvas {
    width: 280px;
    height: 250px;
    padding: 15px 0;
}

/*
.link {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

.account, .app {
    text-align: center;
}

.content {
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.account form {
    position: relative;
    margin-bottom: 1rem;
    margin: 0 auto;
}

.account form label {
    display: flex;
    border-bottom: 1px solid lightgrey;
    position: relative;
}

.account form label:nth-child(n+2) {
    margin-top: 1rem;
}

.account input {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding: 12px 10px;
    padding-top: 20px;
    padding-left: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1rem;
    outline: 0;
    width: 100%;
}

.account input:-webkit-autofill,
.account input:-webkit-autofill:hover,
.account input:-webkit-autofill:focus,
.account input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.account input:focus + span {
    -webkit-transform: translateY(-8px) scale(0.7);
    transform: translateY(-8px) scale(0.7);
}

.account button,
.button {
    display: inline-block;
    border-radius: 35px;
    border: 0;
    font-size: 1rem;
    background: #88CAC9;
    color: #fff;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .5rem .65rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.6);
}

.account button:focus,
.button:focus {
    outline: 0;
    background-color: #6ca1a0;
}

.button.btn-logout {
    width: auto;
    border-radius: 100%;
    bottom: 0;
    right: 1rem;
    position: fixed;
    z-index: 11;

}
.account .icon{
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -10px;
}

.account span {
    position: absolute;
    left: 50px;
    top: 15px;
    pointer-events: none;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.js-input-filled + span {
    -webkit-transform: translateY(-8px) scale(0.7);
    transform: translateY(-8px) scale(0.7);
}

.header {
    background: #88CAC9;
    color: white;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10;
    padding-top: .8rem;
    padding-bottom: .8rem;
}


.header .title {
    font-weight: bold;
}

.header .subtitle {
    font-size: .8rem;
}



.uiButton.backButton {
    float: left;
}*/
