{% load i18n %}
<!DOCTYPE html>
  <html class="no-js" lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>Bank - {% block title %}{% endblock %}</title>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    {% block content %}{% endblock %}
  </body>

</html>
