{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
  <html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <title>Bank - {% block title %}{% endblock %}</title>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
	{% render_bundle 'vendors' 'css' %}
    {% render_bundle 'main' 'css' %}
  </head>

  <body>
      <div>
          <div class="container">
              {% block content %}{% endblock %}
          </div>
      </div>
	  {% render_bundle 'vendors' 'js' %}
      {% render_bundle 'main' 'js' %}
      {% render_bundle 'runtime-main' 'js' %}
  </body>

</html>
