/* fonts */
@font-face {
  font-family: 'Inter Regular';
  src: url('./assets/fonts/Inter/static/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('./assets/fonts/Inter/static/Inter-Bold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Semibold';
  src: url('./assets/fonts/Inter/static/Inter-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Inter Regular', sans-serif;
  background-color: #1f2026;
  
}
